body{margin:0;background:#050914;font-family:Arial}
#loader{position:fixed;inset:0;display:flex;align-items:center;justify-content:center;
background:#050914;z-index:9999}
.spinner{width:50px;height:50px;border:5px solid #1affb3;
border-top:5px solid transparent;border-radius:50%;animation:spin 1s linear infinite}
@keyframes spin{to{transform:rotate(360deg)}}
.tv-box{margin:15px;border-radius:10px;overflow:hidden}