body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#050914;
color:white;
}

.header{
text-align:center;
padding:20px;
background:#000;
}

.signal-container{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
padding:30px;
}

.signal-card{
width:280px;
padding:20px;
border-radius:12px;
background:#111936;
box-shadow:0 0 15px rgba(0,0,0,0.6);
}

.signal-card h3{
text-align:center;
margin-bottom:15px;
}

.buy{
border:2px solid #22c55e;
}

.sell{
border:2px solid #ef4444;
}

.buy-btn{
width:100%;
padding:12px;
background:#22c55e;
border:none;
border-radius:8px;
font-size:16px;
cursor:pointer;
}

.sell-btn{
width:100%;
padding:12px;
background:#ef4444;
border:none;
border-radius:8px;
font-size:16px;
cursor:pointer;
}
