body{margin:0;font-family:Arial;background:#0b0f1a;color:white}
.navbar{display:flex;justify-content:space-between;padding:15px 20px;background:#050814}
.navbar a{color:#36f5c7;margin-left:15px;text-decoration:none}
.hero{padding:100px 20px}
.btn{background:#36f5c7;color:#000;padding:12px 20px;border-radius:6px;text-decoration:none}
.page-title{padding:120px 20px 20px}
.chart-box iframe{width:100%;height:420px;border:none;border-radius:10px}