body{
background:#020617;
color:white;
font-family:Arial;
margin:0;
}
.pair-selector{
text-align:center;
margin:20px;
}
select{
padding:10px 15px;
background:#050914;
color:#00ffcc;
border:1px solid #00ffcc;
border-radius:5px;
}
.chart-box{
padding:10px;
}
